In [1]:
import pandas
ratings = pandas.read_csv("ratings.csv")[["userId", "movieId", "rating"]]
ratings.head()

   userId  movieId  rating
0       1       31     2.5
1       1     1029     3.0
2       1     1061     3.0
3       1     1129     2.0
4       1     1172     4.0

In [2]:
from surprise import Dataset, Reader

reader = Reader(rating_scale=(1,5))
dataset = Dataset.load_from_df(ratings, reader)
dataset

In [3]:
trainset = dataset.build_full_trainset()

In [4]:
from surprise import SVD

svd = SVD()

In [5]:
svd.fit(trainset)

In [6]:
svd.predict(15, 1956)

Prediction(uid=15, iid=1956, r_ui=None, est=3.2960216714468213, details={'was_impossible': False})

In [7]:
from surprise import model_selection

model_selection.cross_validate(svd, dataset, measures=["RMSE", "MAE"])

{'test_rmse': array([0.89674864, 0.89639531, 0.89971094, 0.90241545, 0.89227906]),
 'test_mae': array([0.69060727, 0.69155031, 0.69396116, 0.69556431, 0.6844589 ]),
 'fit_time': (1.0660061836242676,
  0.6590051651000977,
  0.6566829681396484,
  0.629582405090332,
  0.6888720989227295),
 'test_time': (0.13031387329101562,
  0.06835746765136719,
  0.10442757606506348,
  0.11916255950927734,
  0.07251954078674316)}